.clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}

html, body {
    margin:0px;
    padding:0px;
    height:768px;
    width:1024px;
    overflow:hidden;

    #consolelog {
        height:100%;
        width:100%;
        background-image:url('../splash/ios/Default-Landscape.png');

        #singleProgressText {
            padding-top:522px;
        }

        #singleProgressText, #totalProgressText {
            color:#FFFFFF;
            text-align:center;
            margin-bottom:10px;
            font-size: 15px;
        }

        #singleProgressBarContainer, #totalProgressBarContainer {
            border:solid 1px #FFFFFF;
            padding:2px;
            width:80%;
            height:16px;
            margin:0px auto;
        }

        #singleProgressBar, #totalProgressBar {
            width:0%;
            height:100%;
            background-color:#FFFFFF;
        }

        #singleProgressTextDetails {
            margin-bottom:30px;
            color:#FFFFFF;
            text-align:center;
            font-size:10px;
        }
    }

    .app {
        height:768px;
        width:1024px;

        .menu {
            height:100%;
            width:100%;

            #menu-links {
                width:468px;
                height:768px;
                background-image:url('../../../Documents/menu-links.jpg');
                margin-left:538px;
                position:relative;

                a {
                    position:absolute;
                    display:block;
                    left:69px;
                    width:408px;
                    height:54px;
                }

                #link1 { top:178px; }
                #link2 { top:238px; }
                #link3 { top:303px; }
                #link4 { top:366px; }
                #link5 { top:427px; }
                #link6 { top:492px; }
                #link7 { top:555px; }
                #link8 { top:621px; }
                #link9 { top:675px; }
            }

            #menu-slideshow {
                position:relative;
                float:left;
                width:538px;
                height:768px;

                img {
                    position:absolute;
                    top:0px;
                    left:0px;
                    display:none;
                }


            }
        }

        .holder {
            width:100%;
            height:100%;
            position:relative;

            .controls {
                #previous, #next {
                    position:absolute;
                    width:65px;
                    height:65px;
                    bottom:0px;
                    z-index:99;
                }

                #previous {
                    left:0px;
                }

                #next {
                    right:0px;
                }

                #menuclick {
                    position:absolute;
                    width:130px;
                    height:65px;
                    top:0px;
                    right:0px;
                    z-index:99;
                }
            }

            .holderInner {
                height:100%;
                white-space:nowrap;

                .item {
                    width:100%;
                    height:100%;
                    display:inline-block;
                    margin-left:-4px;
                    position:relative;

                    .page {
                        height:100%;
                    }
                }

                .first {
                    margin-left:0px;
                }
            }
        }
    }
}

// SLIDES

.itemslide {
    position:relative;

    img {
        position:absolute;
        top:0px;
        left:0px;
        display:none;
    }
}

#slide4 {
    position:absolute;
    left:51px;
    top:166px;
    width:575px;
    height:248px;
}

#slide7 {
    position:absolute;
    left:36px;
    top:407px;
    width:613px;
    height:319px;
}

#slide29-1 {
    position:absolute;
    left:48px;
    top:223px;
    width:578px;
    height:446px;
}

#slide29-2 {
    position:absolute;
    left:693px;
    top:223px;
    width:270px;
    height:446px;
}

#slide31-1 {
    position:absolute;
    left:50px;
    top:273px;
    width:578px;
    height:408px;
}

// ANCHORS INVISIBLE

#a-1 {
    position:absolute;
    left:780px;
    top:675px;
    width:212px;
    height:21px;
}

#a-2-1 {
    position:absolute;
    left:41px;
    top:423px;
    width:110px;
    height:35px;
}

#a-2-2 {
    position:absolute;
    left:168px;
    top:425px;
    width:136px;
    height:43px;
}

#a-2-3 {
    position:absolute;
    left:316px;
    top:429px;
    width:118px;
    height:38px;
}

#a-2-4 {
    position:absolute;
    left:440px;
    top:431px;
    width:118px;
    height:38px;
}

#a-2-5 {
    position:absolute;
    left:669px;
    top:425px;
    width:134px;
    height:45px;
}

#a-2-6 {
    position:absolute;
    left:804px;
    top:430px;
    width:95px;
    height:32px;
}

#a-2-7 {
    position:absolute;
    left:905px;
    top:434px;
    width:83px;
    height:27px;
}

#a-2-8 {
    position:absolute;
    left:567px;
    top:432px;
    width:105px;
    height:40px;
}

#a-3-1 {
    position:absolute;
    left:39px;
    top:425px;
    width:231px;
    height:234px;
}

#a-3-2 {
    position:absolute;
    left:279px;
    top:425px;
    width:232px;
    height:230px;
}

#a-3-3 {
    position:absolute;
    left:521px;
    top:428px;
    width:230px;
    height:228px;
}

#a-3-4 {
    position:absolute;
    left:762px;
    top:426px;
    width:230px;
    height:233px;
}

#a-6 {
    position:absolute;
    left:396px;
    top:683px;
    width:250px;
    height:20px;
}

#a-7-video {
    position:absolute;
    left:703px;
    top:148px;
    width:282px;
    height:158px;
}

#a-8-1 {
    position:absolute;
    left:47px;
    top:235px;
    width:281px;
    height:196px;
}

#a-8-2 {
    position:absolute;
    left:339px;
    top:233px;
    width:280px;
    height:190px;
}

#a-8-3 {
    position:absolute;
    left:36px;
    top:477px;
    width:301px;
    height:190px;
}

#a-8-4 {
    position:absolute;
    left:342px;
    top:480px;
    width:274px;
    height:188px;
}

#a-10-1 {
    position:absolute;
    left:52px;
    top:146px;
    width:89px;
    height:131px;
}

#a-10-2 {
    position:absolute;
    left:161px;
    top:169px;
    width:107px;
    height:106px;
}

#a-10-3 {
    position:absolute;
    left:289px;
    top:164px;
    width:77px;
    height:117px;
}

#a-10-4 {
    position:absolute;
    left:41px;
    top:371px;
    width:101px;
    height:94px;
}

#a-10-5 {
    position:absolute;
    left:143px;
    top:348px;
    width:87px;
    height:119px;
}

#a-10-6 {
    position:absolute;
    left:247px;
    top:385px;
    width:110px;
    height:81px;
}

#a-10-7 {
    position:absolute;
    left:369px;
    top:348px;
    width:121px;
    height:121px;
}

#a-10-8 {
    position:absolute;
    left:502px;
    top:345px;
    width:116px;
    height:127px;
}

#a-10-9 {
    position:absolute;
    left:48px;
    top:546px;
    width:229px;
    height:151px;
}

#a-10-10 {
    position:absolute;
    left:293px;
    top:547px;
    width:305px;
    height:152px;
}

#a-11-1 {
    position:absolute;
    left:135px;
    top:238px;
    width:297px;
    height:218px;
}

#a-11-2 {
    position:absolute;
    left:134px;
    top:471px;
    width:277px;
    height:208px;
}

#a-11-3 {
    position:absolute;
    left:548px;
    top:223px;
    width:200px;
    height:191px;
}

#a-11-4 {
    position:absolute;
    left:751px;
    top:224px;
    width:199px;
    height:194px;
}

#a-12-1 {
    position:absolute;
    left:75px;
    top:200px;
    width:172px;
    height:223px;
}

#a-12-2 {
    position:absolute;
    left:280px;
    top:199px;
    width:164px;
    height:219px;
}

#a-12-3 {
    position:absolute;
    left:88px;
    top:428px;
    width:326px;
    height:221px;
}

#a-13-1 {
    position:absolute;
    left:64px;
    top:174px;
    width:501px;
    height:515px;
}

#a-14-1 {
    position:absolute;
    left:70px;
    top:273px;
    width:281px;
    height:252px;
}

#a-14-2 {
    position:absolute;
    left:372px;
    top:247px;
    width:187px;
    height:283px;
}

#a-15-1 {
    position:absolute;
    left:60px;
    top:180px;
    width:367px;
    height:300px;
}

#a-17-1 {
    position:absolute;
    left:42px;
    top:252px;
    width:103px;
    height:172px;
}

#a-17-2 {
    position:absolute;
    left:145px;
    top:252px;
    width:98px;
    height:176px;
}

#a-17-3 {
    position:absolute;
    left:245px;
    top:221px;
    width:142px;
    height:208px;
}

#a-17-4 {
    position:absolute;
    left:53px;
    top:496px;
    width:183px;
    height:171px;
}

#a-19-1 {
    position:absolute;
    left:75px;
    top:275px;
    width:262px;
    height:326px;
}

#a-19-2 {
    position:absolute;
    left:364px;
    top:274px;
    width:266px;
    height:328px;
}

#a-19-3 {
    position:absolute;
    left:655px;
    top:275px;
    width:268px;
    height:329px;
}

#a-20-1 {
    position:absolute;
    left:59px;
    top:198px;
    width:195px;
    height:31px;
}

#a-20-2 {
    position:absolute;
    left:58px;
    top:230px;
    width:197px;
    height:28px;
}

#a-20-3 {
    position:absolute;
    left:58px;
    top:261px;
    width:235px;
    height:29px;
}

#a-20-4 {
    position:absolute;
    left:58px;
    top:292px;
    width:231px;
    height:28px;
}

#a-20-5 {
    position:absolute;
    left:58px;
    top:322px;
    width:257px;
    height:31px;
}

#a-21-1 {
    position:absolute;
    left:59px;
    top:198px;
    width:196px;
    height:30px;
}

#a-21-2 {
    position:absolute;
    left:59px;
    top:230px;
    width:199px;
    height:28px;
}

#a-21-3 {
    position:absolute;
    left:59px;
    top:259px;
    width:219px;
    height:30px;
}

#a-21-4 {
    position:absolute;
    left:59px;
    top:290px;
    width:205px;
    height:30px;
}

#a-21-5 {
    position:absolute;
    left:59px;
    top:322px;
    width:277px;
    height:33px;
}

#a-22-1 {
    position:absolute;
    left:59px;
    top:198px;
    width:196px;
    height:30px;
}

#a-22-2 {
    position:absolute;
    left:59px;
    top:230px;
    width:199px;
    height:28px;
}

#a-22-3 {
    position:absolute;
    left:59px;
    top:259px;
    width:219px;
    height:30px;
}

#a-22-4 {
    position:absolute;
    left:59px;
    top:290px;
    width:205px;
    height:30px;
}

#a-22-5 {
    position:absolute;
    left:59px;
    top:322px;
    width:277px;
    height:33px;
}

#a-23-1 {
    position:absolute;
    left:39px;
    top:253px;
    width:293px;
    height:212px;
}

#a-23-2 {
    position:absolute;
    left:336px;
    top:253px;
    width:282px;
    height:211px;
}

#a-23-3 {
    position:absolute;
    left:40px;
    top:475px;
    width:287px;
    height:208px;
}

#a-23-4 {
    position:absolute;
    left:337px;
    top:474px;
    width:288px;
    height:212px;
}

#a-24-1 {
    position:absolute;
    left:105px;
    top:409px;
    width:288px;
    height:212px;
}

#a-24-2 {
    position:absolute;
    left:206px;
    top:409px;
    width:100px;
    height:210px;
}

#a-24-3 {
    position:absolute;
    left:372px;
    top:409px;
    width:88px;
    height:209px;
}

#a-24-4 {
    position:absolute;
    left:498px;
    top:376px;
    width:90px;
    height:230px;
}

#a-25-2 {
    position:absolute;
    left:390px;
    top:312px;
    width:73px;
    height:111px;
}

#a-25-3 {
    position:absolute;
    left:341px;
    top:427px;
    width:130px;
    height:52px;
}

#a-26-1 {
    position:absolute;
    left:142px;
    top:384px;
    width:72px;
    height:91px;
}

#a-26-2 {
    position:absolute;
    left:89px;
    top:487px;
    width:176px;
    height:60px;
}

#a-27-1 {
    position:absolute;
    left:598px;
    top:145px;
    width:411px;
    height:129px;
}

#a-27-2 {
    position:absolute;
    left:599px;
    top:276px;
    width:411px;
    height:112px;
}

#a-27-3 {
    position:absolute;
    left:599px;
    top:391px;
    width:405px;
    height:94px;
}

#a-27-4 {
    position:absolute;
    left:599px;
    top:489px;
    width:399px;
    height:108px;
}

#a-27-5 {
    position:absolute;
    left:599px;
    top:602px;
    width:405px;
    height:108px;
}

#a-30-1 {
    position:absolute;
    left:716px;
    top:163px;
    width:230px;
    height:129px;
}

#a-30-2 {
    position:absolute;
    left:716px;
    top:293px;
    width:222px;
    height:132px;
}

#a-30-3 {
    position:absolute;
    left:716px;
    top:424px;
    width:217px;
    height:128px;
}

#a-30-4 {
    position:absolute;
    left:716px;
    top:553px;
    width:217px;
    height:149px;
}

#a-31-1 {
    position:absolute;
    left:683px;
    top:110px;
    width:257px;
    height:186px;
}

#a-31-2 {
    position:absolute;
    left:686px;
    top:323px;
    width:232px;
    height:159px;
}

#a-31-3 {
    position:absolute;
    left:686px;
    top:519px;
    width:243px;
    height:180px;
}

#a-33-1 {
    position:absolute;
    left:673px;
    top:245px;
    width:217px;
    height:31px;
}

#a-33-2 {
    position:absolute;
    left:673px;
    top:278px;
    width:229px;
    height:37px;
}

#a-33-3 {
    position:absolute;
    left:673px;
    top:317px;
    width:224px;
    height:30px;
}

#a-33-4 {
    position:absolute;
    left:673px;
    top:348px;
    width:215px;
    height:31px;
}

#a-33-5 {
    position:absolute;
    left:673px;
    top:381px;
    width:214px;
    height:38px;
}

#a-34-1 {
    position:absolute;
    left:704px;
    top:177px;
    width:56px;
    height:56px;
}

#a-34-2 {
    position:absolute;
    left:767px;
    top:177px;
    width:56px;
    height:56px;
}

#a-34-3 {
    position:absolute;
    left:830px;
    top:177px;
    width:56px;
    height:56px;
}

#a-34-4 {
    position:absolute;
    left:890px;
    top:177px;
    width:56px;
    height:56px;
}

#a-34-5 {
    position:absolute;
    left:738px;
    top:238px;
    width:56px;
    height:56px;
}

#a-34-6 {
    position:absolute;
    left:799px;
    top:238px;
    width:56px;
    height:56px;
}

#a-34-7 {
    position:absolute;
    left:862px;
    top:238px;
    width:56px;
    height:56px;
}

#a-35-1 {
    position:absolute;
    left:60px;
    top:168px;
    width:229px;
    height:153px;
}

#a-35-2 {
    position:absolute;
    left:301px;
    top:168px;
    width:229px;
    height:153px;
}

#a-35-3 {
    position:absolute;
    left:521px;
    top:168px;
    width:229px;
    height:153px;
}

#a-35-4 {
    position:absolute;
    left:743px;
    top:168px;
    width:229px;
    height:153px;
}



// Links-fade-images

.links-fade-images {
    .container {
        position:relative;

        img {
            position:absolute;
        }
    }
}

iframe {
    border:none;
}